* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  color: whitesmoke;
}

.game {

  height: 100vh;
  width: 100vw;
  background-color: rgb(26, 49, 65);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.score {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
  
  font-size: 30px;
}
.start {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 30px;
  align-items: center;
  font-size: 40px;
  top: 30vh;
  left: 50vw;
  text-align: center;
  transform: translate(-50%, -50%);
  
}
/* .options {
  display: flex;
  justify-content: space-around;
  width: 80vw;
} */
/* .match {
  display: flex;
  justify-content: space-around;
} */

button {
  background-color: #grey;
  /* border: 5px solid black; */
  border-radius: 5px;
  font-size: 22px;
  width: 150px;
  height: 50px;
  color: rgb(26, 49, 65);
}
.winner {
  font-size: 30px;
  height: 50px;
}

.hands-start-position {
  position: absolute;
  top: 70vh;
  left: -20vw;
  transform: translate(-50%, -50%);
}

.hands {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 60vw;
  top: 70vh;
  left: 50vw;
  transform: translate(-50%, -50%) translateY(0);
}
.player-hand {
  transform: scaleX(-1);
  
}

@keyframes shakePlayer {
  10%, 90% {
    transform: scaleX(-1) translateY(-10px);
  }
  20%, 80% {
    transform: scaleX(-1) translateY(20px);
  }
  30%, 50%, 70% {
    transform: scaleX(-1) translateY(-40px);
  }
  40%, 60% {
    transform: scaleX(-1) translateY(40px);
  }
}
@keyframes shakeComputer {
  10%, 90% {
    transform: translateY(-10px);
  }
  20%, 80% {
    transform: translateY(20px);
  }
  30%, 50%, 70% {
    transform: translateY(-40px);
  }
  40%, 60% {
    transform: translateY(40px);
  }
}

.nondisplay {
  display: none;
  transition: 0.2s;
}